body{
    background-color: whitesmoke;
}

#header-name {
    font-size: 20px;
}

#overview{
    font-size: 15px;
}

#general{
    text-align: center;
}

#general input{
    background-color: white;
}

#button-container #record input{
    margin-bottom: 4px;
    margin-left: 2px;
    height: 17px;
    width: 38px;
}


#button-container #gameStart input {
    margin-top: 6px;
    width:140px;
}

#button-container button{
    margin-top:0px;
    background-color:white;
    border-radius: 3px;
    font-size: 12px;
}

#button-container{
    position: relative;
    width: 306px;
    height: 60px;
    margin:0 auto;
}

#button-container #gameStart{
    width: 156px;
    height: 50px;
    position: absolute;
    left: 0px;
    top:0px;
}

#button-container #record{
    width: 156px;
    height: 50px;
    position: absolute;
    left: 170px;
    top:0px;
}

#blank{
    height: 20px;
    width: 100%;
}

#mouseHole{
    margin:0 auto;
    width: 237px;
    height: 168px;
    border-top:solid;
    border-bottom: solid;
    border-top-color: rgb(210, 210,210);
    border-bottom-color:rgb(210, 210,210);

}

#mouseHole #input-container{
    margin-top: 6px;
    margin-left: 5px;
}

#mouseHole #input-container input{
    margin-right: 4px;
    margin-top:8px;
}

input[type=radio] {
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    cursor: pointer;
    vertical-align: center;
    background: #fff;
    border: 1.5px solid rgb(200, 200, 200);
}

#Instructions {
    width: 728px;
    height: 114px;
    margin: 0 auto;
}